.temperature-block p {
    font-size: clamp(0.75rem, 3vw, 1rem);
    font-weight: 100;
}

.temperature-block h3 {
    font-size: clamp(1.7rem, 8.5vw, 3.5rem);
    line-height: clamp(4.3rem, 22vw, 9.5rem);
    font-weight: bold;
}